.p-menubar
  .p-menubar-root-list
  > .p-menuitem:not(.p-highlight):not(.p-disabled)
  > .p-menuitem-content:hover {
  color: white;
  font-weight: 600;
  font-family: 'Courier New', Courier, monospace;
  font-size: 20px;
  background-color: rgb(220 38 38);
}

li.p-menuitem {
  font-weight: 600;
  font-family: 'Courier New', Courier, monospace;
  font-size: 20px;
}
span.p-menuitem-text,
span.p-menuitem-icon {
  color: white;
}


